body {
    direction: rtl;
}

.container {
    text-align: right;
}

.main-action-cell {
    float: right;
    margin-left: 15px;
    margin-right: inherit !important;
}

@media (max-width: 600px) {
    .main-action-cell {
        margin-left: 0 !important;
        margin-right: inherit !important;
    }
}

.text-icon {
    padding-left: 8px;
    padding-right: inherit !important;
}


.order-number__cell {
    text-align: left;
}

@media (max-width: 600px) {
    .order-number__cell {
        text-align: right !important;
    }
}

.or {
    margin-left: 10px;
    margin-right: inherit !important;
}

@media (max-width: 600px) {
    .or {
        margin-left: 0 !important;
        margin-right: inherit !important;
    }
}

.customer-info__item-credit {
    margin-left: 10px;
    margin-right: inherit !important;
}

.order-list__product-image {
    margin-left: 15px;
    margin-right: inherit !important;
}

.order-list__item-original-price {
    text-align: left;
}

.order-list__item-price {
    text-align: left;
    margin-right: 15px;
    margin-left: inherit !important;
}

.subtotal-line__value {
    text-align: left;
}
